services:
  backend:
    build: ./backend
    container_name: scan-doc-back
    develop:
      watch:
        - action: rebuild 
          path: backend
          ignore:
            - .venv
            - .idea
    ports:
      - "8083:8080"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: emias_search_frontend
    ports:
      - "127.0.0.1:5252:8080"
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    develop:
      watch:
        - action: rebuild
          path: frontend
          ignore:
            - node_modules
            - .idea

