services:
  backend:
    build: ./backend
    container_name: scan-doc-back
    env_file: ./backend/.env
    networks:
      - emias_search
    develop:
      watch:
        - action: rebuild
          path: backend
          ignore:
            - .venv
            - .idea
    ports:
      - "8083:8080"
    dns:
      - 8.8.8.8
      - 8.8.4.4

  redis:
    image: redis:7.4-alpine # Using a specific, lightweight image is recommended
    restart: always
    environment:
      REDIS_PASSWORD: "123456"
    ports:
      - "6379:6379"
    networks:
      - emias_search

  nginx:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: emias_search_frontend
    env_file: ./frontend/.env
    ports:
      - "127.0.0.1:5252:8080"
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    develop:
      watch:
        - action: rebuild
          path: frontend
          ignore:
            - node_modules
            - .idea
    networks:
      - emias_search

networks:
  emias_search:
    driver: bridge
