body {
    padding: 0;
    margin: 0;
}

.ant-input:focus {
    border-color: #13c2c2;
    outline: 0;

}

.ant-input:hover {
    border-color: #13c2c2;
    outline: 0;

}

.ant-input-password:focus {
    border-color: #13c2c2;
    outline: 0;

}

.ant-input-password:hover {
    border-color: #13c2c2;
    outline: 0;

}





#search-bar {
    align-self: center;
}

@media only screen and (min-width: 992px) {
    #search-bar {
        margin: 0 100px;
    }

}

@media only screen and (max-width: 992px) {
    #search-bar {
        margin: 0 25px;
    }
}

#scrollingList {
    align-self: center;
}

@media only screen and (min-width: 992px) {
    #scrollingList {
        margin: 0 100px;
    }
    #loginCard {
        margin: 50px 250px;
        padding: 0 100px;

    }

}

@media only screen and (max-width: 992px) {
    #scrollingList {
        margin: 0 25px;
    }
    #scrollableDiv::-webkit-scrollbar {
        display: none;
    }

    #loginCard {
        margin: 75px 100px;
        padding: 0 25px;
    }
}

.container-dept {
    background-color: #13c2c2;
}
.dept-table {
    padding: 50px 100px 0 100px;

}




